ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
}

ul.thumbs li {
	float: left;
	padding: 0;
	margin: 1px 1px 1px 1px;
	list-style: none;
	overflow:hidden; /* this is important */
	position:relative;
}

div.image-desc{
	visibility:hidden;
}

div.image-title{
	visibility:hidden;
}

div.image-source{
	visibility:hidden;
}

#image-layover{
	position: absolute;
	float:left;
	top: 100px;
	height: 35px;
	width:100%;
	background-color:rgba(0,100,255,0.5);
	color: white;
	padding: 0px 3px 0px 5px;
	vertical-align: middle;
	font-size:12px;
}